<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>PicPages</string>
		<key>Title</key>
		<string>Favorite</string>
		<key>Image</key>
		<string>icon_fire.png</string>
		<key>SelectImage</key>
		<string>icon_fire_tab.png</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>gamePage</string>
		<key>Title</key>
		<string>discover</string>
		<key>Image</key>
		<string>icon_star.png</string>
		<key>SelectImage</key>
		<string>icon_star_tab.png</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>mePage</string>
		<key>Title</key>
		<string>me</string>
		<key>Image</key>
		<string>icon_me.png</string>
		<key>SelectImage</key>
		<string>icon_me.tab.png</string>
	</dict>
</array>
</plist>
